@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500');

.App {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  color: white;
  background-image: url(../public/images/city-lights.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-bottom: 2rem !important;
  font-size: 65pt !important;
}

input {
  font-family: 'Manrope', sans-serif;
  font-size: 16pt;
  height: 3rem;
  width: 20rem;

}

Image {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

