* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500');

.App {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  color: white;
  background-image: url(../public/images/city-lights.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-bottom: 2rem !important;
  font-size: 65pt !important;
}

input {
  font-family: 'Manrope', sans-serif;
  font-size: 16pt;
  height: 3rem;
  width: 20rem;

}

.map-div {
  margin-top: 3rem;
  padding-bottom: 3rem;
  max-width: 100%;
  max-height: 20%;
}

#accordion-item {
  font-size: inherit;
  color: inherit;
  background: rgba(0, 0, 47, 0.709)
}

#accordion-item-movie {
  font-size: inherit;
  background: rgba(0, 0, 47, 0.709)
}

#card-element {
  margin-bottom: 2rem;
}

.footer-text {
  margin-top: 3rem;
  padding-bottom: 3rem;
}

